# markdown basics
## markdown basics
### markdown basics
#### markdown basics
##### markdown basics

* **point1**
* *point2*
* ***point3***

* normal text
* sublist 1
* sublist 2

> 1.point1
> 2.point2

* []option1
* []option2

* google site --[1]: http://www.google.com
* msn site --[2]: http://www.msn.com

* []option 1
* google site --[google][1]
[1]: http://www.google.com

### python basics
* python version 3.7
- functional programming
- object oriented programming 
- scripting programming

In [15]:
print("Hello Gitam")

Hello Gitam

In [16]:
print("Hello Gitam")
print("Hyerabad")

Hello Gitam
Hyerabad

In [17]:
print("Hello,Gitam","|||",end=" ")
print("Hyderabad",end="||| ")
print("python programming")

Hello,Gitam ||| Hyderabad||| python programming

In [18]:
n1=100 # single variable assignment
a=b=c=20 #multi variable assignment of the same value
a1,b1,c1=111,222,333 # multi variable assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversions
* int 
* float
* string

In [22]:
a=100
s1="python"
s2="p"
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [21]:
print("Hello world!\nHello world!")

Hello world!
Hello world!

In [4]:
s1='100'
print(type(s1))
a1=int(s1)
print(type(a1))
f=1.5
a1=float(f)
print(type(a1))

<class 'str'>
<class 'int'>
<class 'float'>

In [2]:
# a number is given 1234
# digit count
a1=1234
print(len(str(a1)))

4

# reading a value
* input("message") --string

In [5]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your nameSruthi
Sruthi
<class 'str'>

In [2]:
#want anumber as a input
n1=int(input("enter a number"))
print(n1,type(n1))

enter a number5
5 <class 'int'>

# operators
* operator is a symbol used to perform a specified kind of operations
# Arithmetic operators
* +
* -
* *
* /
* %
* //
- **

In [3]:
n=1234
print(n+10)
print(n-10)
print(n*10)
print(n/10)
print(n%10)
print(n//10)
print(n**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### precedence of the arth operators 

- paranthesis
- power
- multiplication
- addition
  
  #### left to right

In [4]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [5]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### relational operators
- ==
- !=
- greater(>)
- lessthan(<)
- less than or equal to(<=)
- greater than or equal to(>=)

# Logical operators

##### used to combine more than single condition

* and
* or
* not

In [1]:
i=100
a1 = (i>15) and (i<800)
a2 = (i>15) and (i>800)
print(a1)
print(a2)

True
False

### control flow statements
- conditional statements
- looping statements

### syntax

### If-else statements
- if boolean _ conditions :
 statements
- else :
 statements

In [7]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
 print("even")
else:
 print("odd")

enter a number6
even

In [8]:
# to check given number is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 ==0 and n%5 ==0:
 print("yes")
else:
 print("no")

enter a number15
yes

In [10]:
# to check given number is negative , positive or zero
n = int(input("enter a number"))
if n == 0:
 print("zero")
elif n>0:
 print ("positive")
elif n<0:
 print("negative")

enter a number3
positive